<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>registerUserServlet</servlet-name>
        <servlet-class>servlet.registerUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginUserServlet</servlet-name>
        <servlet-class>servlet.loginUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserInfoServlet</servlet-name>
        <servlet-class>servlet.getUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailActiveServlet</servlet-name>
        <servlet-class>servlet.mailActiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyUserServlet</servlet-name>
        <servlet-class>servlet.verifyUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailSendServlet</servlet-name>
        <servlet-class>servlet.mailSendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPasswordServlet</servlet-name>
        <servlet-class>servlet.forgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRoutesServlet</servlet-name>
        <servlet-class>servlet.searchRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserInfoServlet</servlet-name>
        <servlet-class>servlet.updateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>servlet.deleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upLoadFileServlet</servlet-name>
        <servlet-class>servlet.upLoadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRecommendItemsServlet</servlet-name>
        <servlet-class>servlet.getRecommendItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPopularItemsServlet</servlet-name>
        <servlet-class>servlet.getPopularItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRoutesByButtonServlet</servlet-name>
        <servlet-class>servlet.searchRoutesByButtonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLastestItemsServlet</servlet-name>
        <servlet-class>servlet.getLastestItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showRouteInfoServlet</servlet-name>
        <servlet-class>servlet.showRouteInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addLikeRouteServlet</servlet-name>
        <servlet-class>servlet.addLikeRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDislikeRouteServlet</servlet-name>
        <servlet-class>servlet.addDislikeRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCollectRouteServlet</servlet-name>
        <servlet-class>servlet.addCollectRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upLoadRouteAvatarServlet</servlet-name>
        <servlet-class>servlet.upLoadRouteAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRouteInfoServlet</servlet-name>
        <servlet-class>servlet.getRouteInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upLoadSceneryAvatarServlet</servlet-name>
        <servlet-class>servlet.upLoadSceneryAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRouteInfoServlet</servlet-name>
        <servlet-class>servlet.updateRouteInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCityInfoServlet</servlet-name>
        <servlet-class>servlet.updateCityInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSceneryInfoServlet</servlet-name>
        <servlet-class>servlet.updateSceneryInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSearchRoutesServlet</servlet-name>
        <servlet-class>servlet.getSearchRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showSceneryInfoServlet</servlet-name>
        <servlet-class>servlet.showSceneryInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMyRoutesServlet</servlet-name>
        <servlet-class>servlet.getMyRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRouteServlet</servlet-name>
        <servlet-class>servlet.deleteRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMyFavoritesServlet</servlet-name>
        <servlet-class>servlet.getMyFavoritesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCollectRouteServlet</servlet-name>
        <servlet-class>servlet.deleteCollectRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRouteDetailsServlet</servlet-name>
        <servlet-class>servlet.getRouteDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showRouteDetailsServlet</servlet-name>
        <servlet-class>servlet.showRouteDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSceneryDetailsServlet</servlet-name>
        <servlet-class>servlet.getSceneryDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSceneryCommentServlet</servlet-name>
        <servlet-class>servlet.updateSceneryCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCommentServlet</servlet-name>
        <servlet-class>servlet.deleteCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUserServlet</servlet-name>
        <url-pattern>/registerUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginUserServlet</servlet-name>
        <url-pattern>/loginUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserInfoServlet</servlet-name>
        <url-pattern>/getUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailActiveServlet</servlet-name>
        <url-pattern>/mailActiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyUserServlet</servlet-name>
        <url-pattern>/verifyUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailSendServlet</servlet-name>
        <url-pattern>/mailSendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPasswordServlet</servlet-name>
        <url-pattern>/forgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRoutesServlet</servlet-name>
        <url-pattern>/searchRoutesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserInfoServlet</servlet-name>
        <url-pattern>/updateUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upLoadFileServlet</servlet-name>
        <url-pattern>/upLoadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRecommendItemsServlet</servlet-name>
        <url-pattern>/getRecommendItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPopularItemsServlet</servlet-name>
        <url-pattern>/getPopularItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRoutesByButtonServlet</servlet-name>
        <url-pattern>/searchRoutesByButtonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLastestItemsServlet</servlet-name>
        <url-pattern>/getLastestItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showRouteInfoServlet</servlet-name>
        <url-pattern>/showRouteInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addLikeRouteServlet</servlet-name>
        <url-pattern>/addLikeRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDislikeRouteServlet</servlet-name>
        <url-pattern>/addDislikeRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCollectRouteServlet</servlet-name>
        <url-pattern>/addCollectRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upLoadRouteAvatarServlet</servlet-name>
        <url-pattern>/upLoadRouteAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRouteInfoServlet</servlet-name>
        <url-pattern>/getRouteInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upLoadSceneryAvatarServlet</servlet-name>
        <url-pattern>/upLoadSceneryAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRouteInfoServlet</servlet-name>
        <url-pattern>/updateRouteInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCityInfoServlet</servlet-name>
        <url-pattern>/updateCityInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSceneryInfoServlet</servlet-name>
        <url-pattern>/updateSceneryInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSearchRoutesServlet</servlet-name>
        <url-pattern>/getSearchRoutesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showSceneryInfoServlet</servlet-name>
        <url-pattern>/showSceneryInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMyRoutesServlet</servlet-name>
        <url-pattern>/getMyRoutesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRouteServlet</servlet-name>
        <url-pattern>/deleteRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMyFavoritesServlet</servlet-name>
        <url-pattern>/getMyFavoritesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCollectRouteServlet</servlet-name>
        <url-pattern>/deleteCollectRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRouteDetailsServlet</servlet-name>
        <url-pattern>/getRouteDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showRouteDetailsServlet</servlet-name>
        <url-pattern>/showRouteDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSceneryDetailsServlet</servlet-name>
        <url-pattern>/getSceneryDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSceneryCommentServlet</servlet-name>
        <url-pattern>/updateSceneryCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCommentServlet</servlet-name>
        <url-pattern>/deleteCommentServlet</url-pattern>
    </servlet-mapping>
</web-app>
